.header {
  max-width: 880px;
  border-bottom: 1px solid #545454;
  margin: 45px auto 0;
  display: flex;
  justify-content: space-between;
}

.header__wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  column-gap: 56px;
  margin: 0 0 41px;
}

.header__image {
  margin: 0 0 40px;
}

.header__message {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  color: #fff;
}

.header__button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: #a9a9a9;
  width: 33px;
  height: 22px;
}

@media screen and (max-width: 1024px) {
  .header {
  }
}

@media screen and (max-width: 790px) {
  .header {
  }

  .header__image {
  }
}
